.box{
    width: 100px;
}

.icon{
    height: auto;
    width: auto;
    max-height: 62px;
    max-width: 250px;
}

.logo{
    font-style: normal;
    font-weight: bold;
    font-size : clamp(2rem, 3vw, 6vw);
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 5px;

    color: #f6ddc9;
}